#remoteVideo
{
  height: 360px;
  width:  480px;
}

#remoteVideo.playing
{
  background-color:    transparent;
  background-image:    url('img/spinner.gif');
  background-position: center;
  background-repeat:   no-repeat;
}