.classpath
.project
.settings/
.vscode/
*~
bower.json
junitResult.xml
lcovResult.lcov
dist/
doc/
lib-cov/
node_modules/
src/
target/
npm-debug.log
reports/

# Only apps should have lockfiles, not libs/packages
npm-shrinkwrap.json
package-lock.json
yarn.lock
