body
{
  margin: 0;
}

iframe
{
  height: 480;
  width: 100%;
}

#videoPanel
{
  background:#00ff00;
  box-shadow: 0px 10px 5px #888;
/*  position: fixed;*/
  width: 100%;
}

#txtUri
{
  width: 100%;
}

#video
{
  width: 100%;
}

#console
{
  overflow: auto;
}