Source: kurento-module-chroma
Maintainer: Kurento <kurento@openvidu.io>
Priority: optional
Build-Depends:
 cmake,
 debhelper-compat (= 13),
 gstreamer1.0-plugins-bad,
 gstreamer1.0-plugins-base,
 gstreamer1.0-plugins-good,
 kurento-module-core-dev (>= 7.0.2),
 kurento-module-elements-dev (>= 7.0.2),
 kurento-module-filters-dev (>= 7.0.2),
 libopencv-dev,
 libsoup2.4-dev,
 pkg-config,
Standards-Version: 4.5.1
Homepage: https://kurento.openvidu.io/
Vcs-Browser: https://github.com/Kurento/kurento
Vcs-Git: https://github.com/Kurento/kurento.git
Rules-Requires-Root: no

Package: kurento-module-chroma
Architecture: any
Section: libs
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 gstreamer1.0-plugins-bad,
 gstreamer1.0-plugins-base,
 gstreamer1.0-plugins-good,
 kurento-module-core (>= 7.0.2),
 kurento-module-elements (>= 7.0.2),
 kurento-module-filters (>= 7.0.2),
Breaks:
 kms-chroma-6.0,
 kms-chroma,
Replaces:
 kms-chroma-6.0,
 kms-chroma,
Description: Kurento Chroma filter

Package: kurento-module-chroma-dev
Architecture: any
Section: libdevel
Depends:
 ${misc:Depends},
 kurento-module-chroma (= ${binary:Version}),
 kurento-module-core-dev,
 kurento-module-elements-dev,
 kurento-module-filters-dev,
Breaks:
 kms-chroma-6.0-dev,
 kms-chroma-dev,
Replaces:
 kms-chroma-6.0-dev,
 kms-chroma-dev,
Description: Kurento Chroma filter - Development files
