{% extends "!layout.html" %}

<!--
  Override the Read the Docs version, which could also be "stable" or "latest".
  We always want the real, actual version, so "stable" shows e.g. "6.15.0".
-->
{% set current_version = version %}

<!--
  Add a custom header to all pages, trying to redirect novice users to OpenVidu.
-->
{% block document %}
  <a target="_blank" rel="noopener noreferrer"
      href="https://openvidu.io/index#features" style="color: #0088aa;">
    <div style="margin-top: 30px; margin-bottom: 30px; text-align: center;
        padding: 20px; background-color: rgba(0, 136, 170, 0.05);
        border: solid 3px #0088aa; border-radius: 4px;">
      <img src="https://openvidu.io/img/logos/openvidu_vert_grey_bg_transp_cropped.png"
          style="width: 350px;">
      <p style="font-size: 19px; margin-top: 20px; margin-bottom: 0;">
        Discover the new easier way to develop Kurento video applications
      </p>
    </div>
  </a>
  {{ super() }}
{% endblock %}
