Source: kurento-module-datachannelexample
Priority: optional
Maintainer: Kurento <kurento@openvidu.io>
Build-Depends: debhelper (>= 9),
 cmake,
 pkg-config,
 kurento-module-core-dev,
 kurento-module-elements-dev,
 kurento-module-filters-dev,
 libgstreamer-plugins-base1.0-dev,
 libopencv-dev
Standards-Version: 4.0.0
Vcs-Browser: https://github.com/Kurento/kurento
Vcs-Git: https://github.com/Kurento/kurento.git
Homepage: https://kurento.openvidu.io/

Package: kurento-module-datachannelexample
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends},
 gstreamer1.0-plugins-bad,
 gstreamer1.0-plugins-base,
 gstreamer1.0-x
Recommends: fonts-droid-fallback
Description: Kurento WebRTC DataChannel example

Package: kurento-module-datachannelexample-dev
Architecture: any
Section: libdevel
Depends: kurento-module-datachannelexample (= ${binary:Version}),
 kurento-module-core-dev,
 kurento-module-elements-dev,
 kurento-module-filters-dev,
 libopencv-dev
Description: Kurento WebRTC DataChannel example - Development files

Package: kurento-module-datachannelexample-dbg
Architecture: any
Section: debug
Depends: kurento-module-datachannelexample (= ${binary:Version})
Description: Kurento WebRTC DataChannel example - Debugging symbols
