Source: kurento-module-markerdetector
Maintainer: Kurento <kurento@openvidu.io>
Priority: optional
Build-Depends:
 cmake,
 debhelper-compat (= 13),
 kurento-module-core-dev (>= 7.1.2),
 kurento-module-elements-dev (>= 7.1.2),
 kurento-module-filters-dev (>= 7.1.2),
 libopencv-dev,
 libsoup-3.0-dev,
 libtinyxml-dev,
 pkg-config,
Standards-Version: 4.5.1
Homepage: https://kurento.openvidu.io/
Vcs-Browser: https://github.com/Kurento/kurento
Vcs-Git: https://github.com/Kurento/kurento.git
Rules-Requires-Root: no

Package: kurento-module-markerdetector
Architecture: any
Section: libs
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 kurento-module-core (>= 7.1.2),
 kurento-module-elements (>= 7.1.2),
 kurento-module-filters (>= 7.1.2),
Breaks:
 ar-markerdetector,
 kms-markerdetector-6.0,
 kms-markerdetector,
Replaces:
 ar-markerdetector,
 kms-markerdetector-6.0,
 kms-markerdetector,
Description: Kurento Augmented Reality marker detector

Package: kurento-module-markerdetector-dev
Architecture: any
Section: libdevel
Depends:
 ${misc:Depends},
 kurento-module-core-dev (>= 7.1.2),
 kurento-module-elements-dev (>= 7.1.2),
 kurento-module-filters-dev (>= 7.1.2),
 kurento-module-markerdetector (= ${binary:Version}),
 libopencv-dev,
 libsoup-3.0-dev,
 libtinyxml-dev,
Breaks:
 ar-markerdetector-dev,
 kms-markerdetector-6.0-dev,
 kms-markerdetector-dev,
Replaces:
 ar-markerdetector-dev,
 kms-markerdetector-6.0-dev,
 kms-markerdetector-dev,
Description: Kurento Augmented Reality marker detector - Development files
