#include <gst/gst.h>

#include "{{prefixLowerCase}}{{nameLowercase}}.h"

#ifdef HAVE_CONFIG_H
#include "config.h"
#endif

static gboolean
plugin_init (GstPlugin *plugin)
{
  return {{prefixLowerCase}}_{{nameSnakeCase}}_plugin_init (plugin);
}

GST_PLUGIN_DEFINE (GST_VERSION_MAJOR,
    GST_VERSION_MINOR,
    {{prefixLowerCase}}{{nameLowercase}},
    "Plugin description",
    plugin_init,
    VERSION,
    GST_LICENSE_UNKNOWN,
    PACKAGE,
    "https://www.example.com/")
