[Unit]
Description=Kurento repository daemon
After=network.target

[Service]
User=nobody
ExecStart=/usr/bin/kurento-repo

[Install]
WantedBy=default.target