Source: kurento-module-elements
Maintainer: Kurento <kurento@openvidu.io>
Priority: optional
Build-Depends:
 cmake,
 debhelper-compat (= 13),
 ffmpeg | libav-tools,
 gstreamer1.0-nice,
 gstreamer1.0-plugins-bad,
 gstreamer1.0-plugins-good,
 gstreamer1.0-x,
 kurento-cmake-utils (>= 7.2.1),
 kurento-module-core-dev (>= 7.2.1),
 kurento-module-creator (>= 7.2.1),
 libboost-filesystem-dev,
 libboost-system-dev,
 libboost-test-dev,
 libglibmm-2.4-dev,
 libgstreamer-plugins-bad1.0-dev,
 libgstreamer-plugins-base1.0-dev,
 libgstreamer1.0-dev,
 libnice-dev,
 libsigc++-2.0-dev,
 libsoup-3.0-dev,
 libssl-dev,
Standards-Version: 4.5.1
Homepage: https://kurento.openvidu.io/
Vcs-Browser: https://github.com/Kurento/kurento
Vcs-Git: https://github.com/Kurento/kurento.git
Rules-Requires-Root: no

Package: kurento-module-elements
Architecture: any
Section: libs
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 gstreamer1.0-nice,
 gstreamer1.0-plugins-good,
 kurento-module-core (>= 7.2.1),
 libgstreamer-plugins-bad1.0-0,
 libsoup-3.0-0,
Recommends:
 gstreamer1.0-x,
Breaks:
 kms-elements-6.0,
 kms-elements,
Replaces:
 kms-elements-6.0,
 kms-elements,
Description: Kurento Elements module
 Kurento Elements module - Binary libraries.

Package: kurento-module-elements-dev
Architecture: any
Section: libdevel
Depends:
 ${misc:Depends},
 kurento-cmake-utils (>= 7.2.1),
 kurento-module-core-dev (>= 7.2.1),
 kurento-module-creator (>= 7.2.1),
 kurento-module-elements (= ${binary:Version}),
 libboost-filesystem-dev,
 libboost-system-dev,
 libboost-test-dev,
 libglibmm-2.4-dev,
 libgstreamer-plugins-bad1.0-dev,
 libgstreamer-plugins-base1.0-dev,
 libgstreamer1.0-dev,
 libnice-dev,
 libsigc++-2.0-dev,
 libsoup-3.0-dev,
 libssl-dev,
Breaks:
 kms-elements-6.0-dev,
 kms-elements-dev,
Replaces:
 kms-elements-6.0-dev,
 kms-elements-dev,
Description: Kurento Elements module
 Kurento Elements module - Development files.
