Source: kurento-module-filters
Maintainer: Kurento <kurento@openvidu.io>
Priority: optional
Build-Depends:
 cmake,
 debhelper-compat (= 13),
 gstreamer1.0-plugins-bad,
 gstreamer1.0-plugins-good,
 kurento-cmake-utils (>= 7.1.0),
 kurento-module-core-dev (>= 7.1.0),
 kurento-module-creator (>= 7.1.0),
 kurento-module-elements-dev (>= 7.1.0),
 libboost-filesystem-dev,
 libboost-system-dev,
 libglibmm-2.4-dev,
 libgstreamer-plugins-base1.0-dev,
 libgstreamer1.0-dev,
 libopencv-dev,
 libsigc++-2.0-dev,
 libsoup-3.0-dev,
 opencv-data,
Standards-Version: 4.5.1
Homepage: https://kurento.openvidu.io/
Vcs-Browser: https://github.com/Kurento/kurento
Vcs-Git: https://github.com/Kurento/kurento.git
Rules-Requires-Root: no

Package: kurento-module-filters
Architecture: any
Section: libs
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 ca-certificates,
 kurento-module-elements (>= 7.1.0),
 libsoup-3.0-0,
 opencv-data,
Breaks:
 kms-filters-6.0,
 kms-filters,
Replaces:
 kms-filters-6.0,
 kms-filters,
Description: Kurento Filters module
 Kurento Filters module - Binary libraries.

Package: kurento-module-filters-dev
Architecture: any
Section: libdevel
Depends:
 ${misc:Depends},
 kurento-cmake-utils (>= 7.1.0),
 kurento-module-core-dev (>= 7.1.0),
 kurento-module-creator (>= 7.1.0),
 kurento-module-elements-dev (>= 7.1.0),
 kurento-module-filters (= ${binary:Version}),
 libboost-filesystem-dev,
 libboost-system-dev,
 libglibmm-2.4-dev,
 libgstreamer-plugins-base1.0-dev,
 libgstreamer1.0-dev,
 libopencv-dev,
 libsigc++-2.0-dev,
 libsoup-3.0-dev,
Breaks:
 kms-filters-6.0-dev,
 kms-filters-dev,
Replaces:
 kms-filters-6.0-dev,
 kms-filters-dev,
Description: Kurento Filters module
 Kurento Filters module - Development files.
