Source: kurento-module-creator
Section: java
Priority: optional
Maintainer: Kurento <kurento@googlegroups.com>
Build-Depends: debhelper (>= 9),
 default-jdk,
 maven-debian-helper (>= 1.5)
Build-Depends-Indep:
 junit4,
 libcommons-cli-java,
 libfreemarker-java,
 libgoogle-gson-java,
 libhamcrest-java,
 libmaven-assembly-plugin-java,
 libslf4j-java,
 libwagon-java
Standards-Version: 4.0.0
Vcs-Git: https://github.com/Kurento/kurento-module-creator.git
Vcs-Browser: https://github.com/Kurento/kurento-module-creator
Homepage: https://www.kurento.org

Package: kurento-module-creator
Architecture: all
Depends: ${misc:Depends},
 ${maven:Depends}
Suggests: ${maven:OptionalDepends}
Description: Kurento Module Creator
 This tool generates client stubs in different languages for communication
 with the Kurento Media Server, using a JSON-RPC API and language-dependent
 templates.
