Source: kms-elements
Priority: optional
Maintainer: Kurento <kurento@googlegroups.com>
Build-Depends: debhelper (>= 9),
 build-essential,
 cmake,
 ffmpeg | libav-tools,
 gstreamer1.5-nice,
 gstreamer1.5-plugins-bad,
 gstreamer1.5-plugins-good,
 gstreamer1.5-x,
 kms-cmake-utils (>= 6.7.0),
 kms-core-dev (>= 6.7.0),
 kurento-module-creator (>= 6.7.0),
 libboost-filesystem-dev,
 libboost-system-dev,
 libboost-test-dev,
 libglibmm-2.4-dev,
 libgstreamer-plugins-base1.5-dev,
 libnice-dev,
 libsigc++-2.0-dev,
 libsoup2.4-dev,
 libssl1.0-dev | libssl-dev (<< 1.1.0),
 openwebrtc-gst-plugins-dev
Standards-Version: 4.0.0
Vcs-Git: https://github.com/Kurento/kms-elements.git
Vcs-Browser: https://github.com/Kurento/kms-elements
Homepage: https://www.kurento.org

Package: kms-elements
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends},
 gstreamer1.5-nice,
 kms-core (>= 6.7.0),
 openh264-gst-plugins-bad-1.5,
 openwebrtc-gst-plugins
Breaks: kms-elements-6.0
Replaces: kms-elements-6.0
Description: Kurento Elements module
 Kurento Elements module - Binary libraries.

Package: kms-elements-dev
Architecture: any
Section: libdevel
Depends: kms-elements (= ${binary:Version}),
 kms-cmake-utils (>= 6.7.0),
 kms-core-dev (>= 6.7.0),
 kurento-module-creator (>= 6.7.0),
 libboost-filesystem-dev,
 libboost-system-dev,
 libboost-test-dev,
 libglibmm-2.4-dev,
 libgstreamer1.5-dev,
 libgstreamer-plugins-base1.5-dev,
 libnice-dev,
 libsigc++-2.0-dev,
 libsoup2.4-dev,
 libssl1.0-dev | libssl-dev (<< 1.1.0),
 openwebrtc-gst-plugins-dev
Breaks: kms-elements-6.0-dev
Replaces: kms-elements-6.0-dev
Description: Kurento Elements module
 Kurento Elements module - Development files.

Package: kms-elements-dbg
Architecture: any
Section: debug
Depends: kms-elements (= ${binary:Version})
Breaks: kms-elements-6.0-dbg
Replaces: kms-elements-6.0-dbg
Description: Kurento Elements module
 Kurento Elements module - Debugging symbols.
