Source: kurento-cmake-utils
Priority: optional
Maintainer: Kurento <kurento@openvidu.io>
Build-Depends: debhelper (>= 9),
 cmake
Standards-Version: 4.0.0
Vcs-Browser: https://github.com/Kurento/kurento
Vcs-Git: https://github.com/Kurento/kurento.git
Homepage: https://kurento.openvidu.io/

Package: kurento-cmake-utils
Architecture: all
Section: devel
Depends: ${shlibs:Depends}, ${misc:Depends},
 cmake,
 pkg-config
Recommends:
 dpkg-dev,
 git
Suggests:
 valgrind
Description: Kurento CMake utils
 This package contains custom CMake modules, required to build Kurento.
