Source: kurento-module-pointerdetector
Maintainer: Kurento <kurento@openvidu.io>
Priority: optional
Build-Depends: debhelper (>= 9),
 cmake,
 pkg-config,
 gstreamer1.0-plugins-bad,
 gstreamer1.0-plugins-base,
 gstreamer1.0-plugins-good,
 kurento-module-core-dev (>= 7.0.0),
 kurento-module-elements-dev (>= 7.0.0),
 kurento-module-filters-dev (>= 7.0.0),
 libopencv-dev,
 libsoup2.4-dev
Standards-Version: 4.0.0
Vcs-Browser: https://github.com/Kurento/kurento
Vcs-Git: https://github.com/Kurento/kurento.git
Homepage: https://kurento.openvidu.io/

Package: kurento-module-pointerdetector
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
 ${misc:Depends},
 gstreamer1.0-plugins-bad,
 gstreamer1.0-plugins-base,
 gstreamer1.0-plugins-good,
 kurento-module-core (>= 7.0.0),
 kurento-module-elements (>= 7.0.0),
 kurento-module-filters (>= 7.0.0)
Description: Kurento Pointer Detector filter

Package: kurento-module-pointerdetector-dev
Architecture: any
Section: libdevel
Depends: kurento-module-pointerdetector (= ${binary:Version}),
 kurento-module-core-dev,
 kurento-module-elements-dev,
 kurento-module-filters-dev,
 libopencv-dev,
 libsoup2.4-dev
Description: Kurento Pointer Detector filter - Development files

Package: kurento-module-pointerdetector-dbg
Architecture: any
Section: debug
Depends: kurento-module-pointerdetector (= ${binary:Version})
Description: Kurento Pointer Detector filter - Debug symbols
