Source: kurento-jsonrpc
Priority: optional
Maintainer: Kurento <kurento@openvidu.io>
Build-Depends: debhelper (>= 9),
 build-essential,
 cmake,
 kurento-cmake-utils (>= 7.0.0),
 libboost-dev,
 libboost-test-dev,
 libjsoncpp-dev,
 pkg-config
Standards-Version: 4.0.0
Vcs-Browser: https://github.com/Kurento/kurento
Vcs-Git: https://github.com/Kurento/kurento.git
Homepage: https://kurento.openvidu.io/

Package: kurento-jsonrpc
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Kurento JSON-RPC library
 C++ implementation of the JSON-RPC Kurento Protocol.

Package: kurento-jsonrpc-dev
Architecture: any
Section: libdevel
Depends: kurento-jsonrpc (= ${binary:Version}),
 libboost-dev,
 libboost-test-dev,
 libjsoncpp-dev
Description: Kurento JSON-RPC library
 C++ implementation of the JSON-RPC Kurento Protocol - Development files.

Package: kurento-jsonrpc-dbg
Architecture: any
Section: debug
Depends: kurento-jsonrpc (= ${binary:Version})
Description: Kurento JSON-RPC library
 C++ implementation of the JSON-RPC Kurento Protocol - Debugging symbols.
