@CHARSET "UTF-8";

/*div {
	border: 1px dotted black;
}*/

body{

}

/* Three panels structure */
#header,#footer,#content {
	position: absolute;
	right: 0;
	left: 0;
}

#header {
	top: 0;
}

#content {
	bottom: 100px; /* Should be the same as footer height */
	overflow: auto;
	top: 78px; /* Should be the same as header height */
}

#footer {
	text-align: center;
	bottom: 0;
}
/* Three panels structure */
#header {
	border-bottom: 1px solid black;
}

#content {
	border-bottom: 1px solid black;
}

#fiWareLogoContainer {
	float: left;
}

#fiWareLogo {
	height: 60px;
	margin: 10px 10px 2px 20px;
}

#kurentoLogo {

	height: 40px;
	margin: 2px;
}

#poweredByPanel {
	float: right;
	font-family: verdana;
	font-size: 11px;
}

#videoPanel {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	float: left;
	width: 50%;
}

#iframePanel {
	text-align: center;
	float: right;
	width: 50%;
}

#txtUri {
	margin: 10px;
	width: 75%;
}

#btnPlayStop {
	width: 15%;
}

#textEventContainer {
	text-align: left;
	margin-left: 30px;
	margin-top: 10px;
}

#eventTypeTxt {
	height: 20px;
}

#eventValueTxt {
	height: 20px;
}

#video {
	border-width: 1px;
	border-style: solid;
	box-shadow: 10px 10px 5px #888888;
	background: black;
	margin-top: 5px;
	width: 640px;
	min-height: 480px;
}

#arrowRight {
  display: none;
  height: 250px;
  width: 250px;
  top: 250px;
  left: 200px;
  position: absolute;
}

#arrowDown {
  display: none;
  height: 250px;
  width: 250px;
  top: 250px;
  position: absolute;
}

#textEventContainer div {
	margin: 2px;
}

#viewer {
	width: 640px;
	height: 480px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 10px 10px 5px #888888;
}

#urjcLogoContainer {
	float: left;
}

#urjcLogo {
	height: 80px;
	margin: 10px 30px 10px 10px;
}

#naevatecLogoContainer {
	float: left;
}

#naevatecLogo {
	height: 80px;
	margin: 10px 30px 10px 10px;
}

#campusPartyLogoContainer {
	float: right;
}

#campusPartyLogo {
	height: 80px;
	margin: 10px 30px 10px 10px;
}

#copyright {
	margin-left: auto;
	margin-right: auto;
}

#console {
	clear: both;
	margin-top: 20px;
	border-top: 1px dotted black;
	font-size: 11px;
	background-color: #f0f0ff;
}