Source: kurento-module-platedetector
Maintainer: Kurento <kurento@openvidu.io>
Priority: optional
Build-Depends: debhelper (>= 9),
 cmake,
 pkg-config,
 gstreamer1.0-plugins-bad,
 gstreamer1.0-plugins-base,
 gstreamer1.0-plugins-good,
 kurento-module-core-dev (>= 7.0.0),
 kurento-module-elements-dev (>= 7.0.0),
 kurento-module-filters-dev (>= 7.0.0),
 libopencv-dev,
 libtesseract-dev
Standards-Version: 4.0.0
Vcs-Browser: https://github.com/Kurento/kurento
Vcs-Git: https://github.com/Kurento/kurento.git
Homepage: https://kurento.openvidu.io/

Package: kurento-module-platedetector
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
 ${misc:Depends},
 gstreamer1.0-plugins-bad,
 gstreamer1.0-plugins-base,
 gstreamer1.0-plugins-good,
 kurento-module-core (>= 7.0.0),
 kurento-module-elements (>= 7.0.0),
 kurento-module-filters (>= 7.0.0)
Description: Kurento Plate Detector filter

Package: kurento-module-platedetector-dev
Architecture: any
Section: libdevel
Depends: kurento-module-platedetector (= ${binary:Version}),
 kurento-module-core-dev (>= 7.0.0),
 kurento-module-elements-dev (>= 7.0.0),
 kurento-module-filters-dev (>= 7.0.0),
 libopencv-dev,
 libtesseract-dev
Description: Kurento Plate Detector filter - Development files

Package: kurento-module-platedetector-dbg
Architecture: any
Section: debug
Depends: kurento-module-platedetector (= ${binary:Version})
Description: Kurento Plate Detector filter - Debug symbols
